<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcy.psychology"
    android:versionCode="3"
    android:versionName="1.0.2" >
	
    <!-- 允许网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许使用AudioRecord录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:name="com.dcy.psychology.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <!-- android:name="com.dcy.psychology.MainActivity" -->
        <meta-data android:name="UMENG_APPKEY" android:value="55274676fd98c581c00005d8"/>
		<meta-data android:value="Psychology" android:name="UMENG_CHANNEL"/>
        
        <activity 
            android:name="com.dcy.psychology.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.dcy.psychology.IntroduceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity
            android:name="com.dcy.psychology.SlideMainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.FlowerGameActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.SeaGameActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity 
            android:name="com.dcy.psychology.SeaGameResultActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity 
            android:name="com.dcy.psychology.PlatformTwoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.OnlinePicActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.BlackHoleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ChatIMActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.FlowerGameChooseActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity 
            android:name="com.dcy.psychology.FlowerGameResultActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity 
            android:name="com.dcy.psychology.HomePagePicActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity 
            android:name="com.dcy.psychology.ProblemDirectoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.FindPwdActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.StudentGrowActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.RegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.PhoneRegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.GrowLevelChooseActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.GrowDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified">
        </activity>
        <activity 
            android:name="com.dcy.psychology.GrowHistoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.PlamPictureDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ShowListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.DiscussListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity 
            android:name="com.dcy.psychology.QuestionThemeChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ThoughtReadingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ThoughtReadingResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
    </application>

</manifest>
