<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dcy.psychology"
    android:versionCode="8"
    android:versionName="2.0.1" >
	
    <permission
        android:name="com.dcy.psychology.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.dcy.psychology.permission.JPUSH_MESSAGE" />
    <!-- 允许网络访问 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许访问振动设备 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 允许使用AudioRecord录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许使用照相设备 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>  
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <application
        android:name="com.dcy.psychology.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        <!-- android:name="com.dcy.psychology.MainActivity" -->
        <meta-data android:name="UMENG_APPKEY" android:value="55274676fd98c581c00005d8"/>
		<meta-data android:value="Psychology" android:name="UMENG_CHANNEL"/>
        
        <activity 
            android:name="com.dcy.psychology.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        <activity 
            android:name="com.dcy.psychology.IntroduceActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity
            android:name="com.dcy.psychology.SlideMainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.FlowerGameActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.SeaGameActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity 
            android:name="com.dcy.psychology.SeaGameResultActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar.Fullscreen">
        </activity>
        <activity 
            android:name="com.dcy.psychology.PlatformTwoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.OnlinePicListActivity"
            android:screenOrientation="portrait">
        </activity>
        
        
        
        
        <activity 
            android:name="com.dcy.psychology.xinzeng.Mine_talkaboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.AdvanceActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.UnderwayActivity"
            android:screenOrientation="portrait">
        </activity>
          <activity 
            android:name="com.dcy.psychology.fragment.UnderwayFragment"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.HelpActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.AboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.FeedbackActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.RelationActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.TalkaboutActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.HowuseActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.SubmitsuccessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.xinzeng.PersonalHomepage"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.view.dialog.IndividualDialog"
            android:screenOrientation="portrait">
        </activity>
        
        
        
        
        
        
        
        
        <activity 
            android:name="com.dcy.psychology.BigOpenClassActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ShowProblemActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.BlackHoleActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ChatIMActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.MineActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.EditInfoActivity"
            android:screenOrientation="portrait">
        </activity>
         <activity 
            android:name="com.dcy.psychology.MineDnaActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.FlowerGameChooseActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity 
            android:name="com.dcy.psychology.FlowerGameResultActivity"
            android:screenOrientation="landscape"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity 
            android:name="com.dcy.psychology.AllTestActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>
        <activity 
            android:name="com.dcy.psychology.ProblemDirectoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.LoginActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.FindPwdActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.StudentGrowActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.RegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.PhoneRegisterActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.GrowLevelChooseActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.GrowDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustUnspecified">
        </activity>
        <activity 
            android:name="com.dcy.psychology.GrowHistoryActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.PlamPictureDetailActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ShowListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.GetFollowUsersActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.DetailTestResultActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.PersonalInfoActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.dcy.psychology.view.crop.CropImageActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.DoctorPersonalInfo"
            android:screenOrientation="portrait">
        </activity>
        <activity 
            android:name="com.dcy.psychology.DiscussListActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="adjustPan">
        </activity>
        <activity 
            android:name="com.dcy.psychology.QuestionThemeChooseActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ThoughtReadingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <activity 
            android:name="com.dcy.psychology.ThoughtReadingResultActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:configChanges="keyboardHidden|orientation|screenSize">
        </activity>
        <!-- umeng start -->
        <activity
            android:name="com.umeng.socialize.view.ShareActivity"
            android:configChanges="orientation|keyboard"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:theme="@style/Theme.UMDialog"
            android:windowSoftInputMode="stateVisible|adjustResize" >
        </activity>
        <activity 
            android:name="com.siyanhui.mechat.application.wxapi.WXEntryActivity" 
            android:theme="@android:style/Theme.Translucent.NoTitleBar" 
            android:screenOrientation="portrait" 
            android:configChanges="keyboardHidden|orientation|screenSize" 
            android:exported="true"/>
        <!-- ############ QQ空间和QQ SSO授权的Activity注册 ############ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- 100424468，如果你使用的公用账号，则不需要修改；否则修改成你在QQ开放平台申请的 APP ID-->
                <data android:scheme="tencent100424468" /> 
            </intent-filter>
        </activity>
        <activity android:name="com.tencent.connect.common.AssistActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait">
        </activity>
        <!-- umeng end -->
        <!-- Jpush start -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.dcy.psychology" />
            </intent-filter>
        </activity>
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" >
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.dcy.psychology" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
             <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver
            android:name="com.dcy.psychology.receiver.JPushReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.UNREGISTRATION" />  
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.dcy.psychology" />
            </intent-filter>
        </receiver>
        <meta-data android:name="JPUSH_CHANNEL" android:value="developer-default"/>
        <meta-data android:name="JPUSH_APPKEY" android:value="152a07556e85a28c2f7d1182" /> 
        <!-- Jpush end -->
    </application>
</manifest>
